Repository mxjeff/python-musicpd: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-py3.12, test-py3.11, test-py3.10, test-py3.9, test-py3.8, test-py3.7, test-py3.6, build, build_doc

test-py3.12:
  variables:
    FF_USE_FASTZIP: 1
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - $PIP_CACHE_DIR
  stage: test
  script:
  - python -m venv venv
  - source venv/bin/activate
  - pip install pytest-cov
  - py.test -q --cov=musicpd test.py
  image: python:3.12

test-py3.11:
  variables:
    FF_USE_FASTZIP: 1
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - $PIP_CACHE_DIR
  stage: test
  script:
  - python -m venv venv
  - source venv/bin/activate
  - pip install pytest-cov
  - py.test -q --cov=musicpd test.py
  image: python:3.11

test-py3.10:
  variables:
    FF_USE_FASTZIP: 1
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - $PIP_CACHE_DIR
  stage: test
  script:
  - python -m venv venv
  - source venv/bin/activate
  - pip install pytest-cov
  - py.test -q --cov=musicpd test.py
  image: python:3.10
  ...

test-py3.9:
  variables:
    FF_USE_FASTZIP: 1
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - $PIP_CACHE_DIR
  stage: test
  script:
  - python -m venv venv
  - source venv/bin/activate
  - pip install pytest-cov
  - py.test -q --cov=musicpd test.py
  image: python:3.9

test-py3.8:
  variables:
    FF_USE_FASTZIP: 1
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - $PIP_CACHE_DIR
  stage: test
  script:
  - python -m venv venv
  - source venv/bin/activate
  - pip install pytest-cov
  - py.test -q --cov=musicpd test.py
  image: python:3.8

test-py3.7:
  variables:
    FF_USE_FASTZIP: 1
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - $PIP_CACHE_DIR
  stage: test
  script:
  - python -m venv venv
  - source venv/bin/activate
  - pip install pytest-cov
  - py.test -q --cov=musicpd test.py
  image: python:3.7

test-py3.6:
  variables:
    FF_USE_FASTZIP: 1
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - $PIP_CACHE_DIR
  stage: test
  script:
  - python -m venv venv
  - source venv/bin/activate
  - pip install pytest-cov
  - py.test -q --cov=musicpd test.py
  image: python:3.6

build:
  variables:
    FF_USE_FASTZIP: 1
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    key: $CI_JOB_NAME-$CI_COMMIT_REF_SLUG
    paths:
    - $PIP_CACHE_DIR
  stage: build
  script:
  - python -m venv venv
  - source venv/bin/activate
  - pip install build
  - python3 -m build -s -w
  - pip install dist/*.whl
  ...

build_doc:
  stage: build
  script:
  - pip install sphinx sphinx_rtd_theme
  - sphinx-build doc/source -b html ./html -D html_theme=sphinx_rtd_theme -E -W -n --keep-going

Add module name in logger in example
  doc/source/examples/client.py
Due: none

Improved/fixed pyproject
  MANIFEST.in
  pyproject.toml
Due: none

ci: Intercept pyproject changes
  .gitlab-ci.yml
Due: build

Releasing 0.9.0
  musicpd.py
Due: test-py3.12, test-py3.11, test-py3.10, test-py3.9, test-py3.8, test-py3.7, test-py3.6, build

Improved documentation
  CHANGES.txt
  doc/extract_supported_commands.py
  doc/source/_commands.rst
  doc/source/commands.rst
  doc/source/index.rst
  doc/source/use.rst
  musicpd.py
Due: test-py3.12, test-py3.11, test-py3.10, test-py3.9, test-py3.8, test-py3.7, test-py3.6, build, build_doc

Add searchcount command (closes #18)
  CHANGES.txt
  doc/source/_commands.rst
  musicpd.py
Due: test-py3.12, test-py3.11, test-py3.10, test-py3.9, test-py3.8, test-py3.7, test-py3.6, build, build_doc

Add stickernames command (closes #19)
  CHANGES.txt
  doc/source/_commands.rst
  musicpd.py
Due: test-py3.12, test-py3.11, test-py3.10, test-py3.9, test-py3.8, test-py3.7, test-py3.6, build, build_doc

Add playlistlength command (closes #17)
  CHANGES.txt
  doc/source/_commands.rst
  musicpd.py
Due: test-py3.12, test-py3.11, test-py3.10, test-py3.9, test-py3.8, test-py3.7, test-py3.6, build, build_doc

ci: Add python 3.13 test
  .gitlab-ci.yml
Due: build

Fixed missing build-backend in pyproject.toml
  CHANGES.txt
  musicpd.py
  pyproject.toml
Due: test-py3.12, test-py3.11, test-py3.10, test-py3.9, test-py3.8, test-py3.7, test-py3.6, build

Fixed deprecation in pyproject.toml
  pyproject.toml
Due: none

Add protocol commands
  CHANGES.txt
  musicpd.py
Due: test-py3.12, test-py3.11, test-py3.10, test-py3.9, test-py3.8, test-py3.7, test-py3.6, build

Add stickernamestypes and stickertypes commands
  CHANGES.txt
  musicpd.py
Due: test-py3.12, test-py3.11, test-py3.10, test-py3.9, test-py3.8, test-py3.7, test-py3.6, build

Add searchplaylist command
  CHANGES.txt
  musicpd.py
Due: test-py3.12, test-py3.11, test-py3.10, test-py3.9, test-py3.8, test-py3.7, test-py3.6, build

Fixed deprecation in pyproject.toml
  CHANGES.txt
  pyproject.toml
Due: none

Releasing 0.9.2
  doc/source/_commands.rst
  musicpd.py
Due: test-py3.12, test-py3.11, test-py3.10, test-py3.9, test-py3.8, test-py3.7, test-py3.6, build, build_doc

Fix deprecation in pyproject.toml
  CHANGES.txt
  pyproject.toml
Due: none

Add woodpecker ci
  .woodpecker/notify-failure.yaml
  .woodpecker/notify-success.yaml
  .woodpecker/notify.sh
  .woodpecker/tests.yaml
Due: none

ci: Add cron event
  .woodpecker/notify-failure.yaml
  .woodpecker/notify-success.yaml
  .woodpecker/tests.yaml
Due: none

Path conditions:
  test-py3.12: any of: musicpd.py, test.py
  test-py3.11: any of: musicpd.py, test.py
  test-py3.10: any of: musicpd.py, test.py
  test-py3.9: any of: musicpd.py, test.py
  test-py3.8: any of: musicpd.py, test.py
  test-py3.7: any of: musicpd.py, test.py
  test-py3.6: any of: musicpd.py, test.py
  build: any of: .gitlab-ci.yml, musicpd.py, test.py
  build_doc: any of: doc/source/*
